<%-include('header.ejs') %>

<main role="main" class="flex-shrink-0">
  <div class="container"> <!-- container 큰 틀을 잡는다 -->
    <section>
      <div class="row"> <!-- <tr>과 같은 느낌. row 안에는 <td>를 합이 12까지 사용 가능하다. -->
        <div class="col-md-12"> <!-- <tr> 하나에 <td>를 하나만 쓰겠다는 의미 -->
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">List</h3>
            </div>

            <div class="box-body">
              <table class="table table-bordered">
                <tbody>
                  
                  <tr>
                    <th style="width : 10%">번호</th>
                    <th style="width : 40%">제목</th>
                    <th style="width : 20%">작성자</th>
                    <th style="width : 20%">등록일</th>
                    <th style="width : 20%">비고</th>
                  </tr>

                  <!-- EJS문법 -->
                  <% lists.forEach(function(item) {%>
                    <tr>
                      <td><%=item.bno%> </td>
                      <!-- data-이름-값 : 값을 변수에? 저장하기 위한 것-->
                      <td><a href="/get?bno=<%=item.bno%>"><%=item.title%></a></td>
                      <td><%=item.writer%></td>
                      <td><%=item.regdate%></td>
                      <td><a href="/delete?bno=<%=item.bno%>" class="btn btn-danger" 
                              onclick="return confirm('삭제할꺼임?')">삭제</a></td>
                    </tr>
                    <%})%>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </section>
  </div>
</main>