<%-include('header.ejs') %>

<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
    <div class="container">
      <section>
          <div class="row">
              <div class="col-md-12">
                  <div class="box">
                      <div class="box-header with-border">
                      <h3 class="box-title">List</h3>
                      <a href="/write" class="btn btn-primary">상품목록</a>
                      </div>
  
                      <div class="box-body">
                          <table class="table table-bordered">
                              <tbody>
                                <tr>
                                  <th style="width: 10%">상품번호</th>
                                  <th style="width: 40%">상품명</th>
                                  <th style="width: 20%">상품이미지</th>
                                  <th style="width: 20%">등록일</th>
                              </tr>
                              <% lists.forEach(function(item) {%>
                              <tr>
                                  <td><%=item.p_code%></td>
                                  <td><%=item.p_name%></td>
                                  <td><img src="/upload/<%=item.p_s_img%>"></td>
                                  <td><%=item.regdate%></td>                                  
                              </tr>
                             <%}) %>
                              </tbody></table>
                      </div>
                      
                 </div>
              </div>
          </div>
      </section>
    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.6/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="https://getbootstrap.com/docs/4.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

      
  </body>
</html>